.links {
  margin-top: 140px;
  background-color: #eff1f7;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 10px;
  background-image: url('../../assets/bg-shorten-desktop.svg'),
    linear-gradient(#3b3054, #3b3054 100%);
  background-size: cover;
  position: relative;
  top: -60px;
  margin: 0px 20px;
  @include breakpoint(tablet) {
    margin: auto;
  }
}

.links-container__form {
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}

.links-container__input {
  display: flex;
  flex-direction: column;
}

.links-input {
  margin-right: 0px;
  padding: 16px 25px;
  border-radius: 10px;
  border: none;
  &--error {
    border: 2px solid map-get($color, redSecondary);
    &::placeholder {
      color: map-get($color, redSecondary);
    }
  }
  @include breakpoint(tablet) {
    width: 600px;
    margin-right: 10px;
  }
}

.links-btn {
  color: #ffffff;
  font-weight: 700;
  background-color: map-get($color, cyanPrimary);
  border-radius: 10px;
  padding: 16px 25px;
  margin-left: 0px;
  &:hover {
    background-color: #aedfdf;
  }
  @include breakpoint(tablet) {
    margin-left: 10px;
  }
}
.links-error {
  padding-top: 5px;
  color: map-get($color, redSecondary);
}
