.header {
  position: relative;
  top: 50px;
  height: calc(600px - 50px);
  display: flex;
  align-items: center;
}

section:nth-child(1) {
  width: 60%;
  margin-right: 20px;
  h1 {
    font-size: 4.6875em;
    line-height: 120%;
    font-weight: 700;
    color: map-get($color, veryDarkBlue);
  }
  p {
    font-size: 23px;
    color: map-get($color, grayNeutral);
    padding-right: 10px;
  }
  button {
    margin-top: 30px;
    font-size: 20px;
  }
}

section:nth-child(2) {
  img {
    width: 100%;
    max-width: 600px;
    height: 500px;
  }
}
