.footer-container {
  background-color: map-get($color, veryDarkViolet);
}
.footer-spaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 50px;
  @include breakpoint(tablet) {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }
}
.footer-menu {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include breakpoint(tablet) {
    flex-direction: row;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    align-items: center;
    @include breakpoint(tablet) {
      padding-right: 80px;
      align-items: flex-start;
    }
    strong {
      padding-bottom: 10px;
    }
    li {
      text-align: start;
      font-size: 13px;
      padding: 5px 0px;
      color: map-get($color, rayishViolet);
      &:hover {
        color: map-get($color, cyanPrimary);
        cursor: pointer;
      }
    }
  }
}

.social-media {
  img {
    padding: 0px 8px;
  }
}
