$color: (
  // Primary
  cyanPrimary: #2acfcf,
  darkViolet: #3b3054,
  // Secondary
  redSecondary: #f46262,
  // Neutral
  grayNeutral: #bfbfbf,
  rayishViolet: #9e9aa7,
  veryDarkBlue: #35323e,
  veryDarkViolet: #232127
);

$debug: 1px solid black;
